*{
  box-sizing: border-box;
}

body {
    background-color: lightblue;
}

.wrapper {
  width: 1024px;
  padding: 20px;
  background-color: whitesmoke;
}


section {
    background-color: whitesmoke;
}



.nb1{
  margin-left: 1rem;
  background-color: teal;
  padding: 10px;

}

.abme {
    width: 300px;
    padding: 50px;
    margin: 20px;
}

.img1{
    padding: 5px;
    width: 200px;
    float: left;
}


.portcard{
    width: fit-content;
    height: fit-content;
    margin: 0px;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color:grey;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.footer {
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 991px) {
    body {
      background-color:whitesmoke;
    }

  
    .wrapper {
      /* Box-model */
      width: 100%;
      padding: 20px;
    }
  
    #main-content {
      width: 100%;
    }


    .img1{
        padding: 5px;
        width: 200px;
        float: left;
    }

  }


  @media screen and (max-width: 768px) {
    body {
      background-color:whitesmoke;
    }
  
    .wrapper {
      /* Box-model */
      width: 100%;
      padding: 20px;
    }
  
    #main-content {
      width: 100%;
    }
  

    .img1{
        width: 6px;
        width: 50%;
        }

  }
  
  @media screen and (max-width: 640px) {
    body {
      background-color:whitesmoke;
    }
  
    .wrapper {
      width: 100%;
      padding: 20px;
    }
  
    #main-content {
      width: 100%;
    }
  

    .img1{
        width: 100%;
    }
  }

  