*{
  box-sizing: border-box;
}

body {
    background-color: black;
}

.wrapper {
  /* Box-model */
  width: 1024px;
  padding: 20px;
}


section {
    background-color: lightgray;
}



.nb1{
  margin-left: 1rem;
  background-color: teal;
  padding: 10px;

}

.nb2{
  flex-basis: auto;
  display: flex!important;
}

.abme {
    width: 300px;
    padding: 50px;
    margin: 20px;
}

.img1{
    padding: 5px;
    width: 200px;
    float: left;
}

.rowbg{
  background-color: white;
}

.portcard{
    width: fit-content;
    height: fit-content;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 980px) {
    body {
      background-color: #333;
    }

    .nb2{
      flex-basis: auto;
      display: flex!important;
      flex-grow: 1;
      align-items: center;
    }
  
    .wrapper {
      /* Box-model */
      width: 100%;
      padding: 20px;
    }
  
    #main-content,
    #sidebar {
      width: 100%;
    }
  
    #sidebar {
      margin-top: 40px;
    }

    .img1{
        padding: 5px;
        width: 200px;
        float: left;
    }

  }
  
  /* Additional Screen Sizes */
  
  /* Width at 768px and below */
  @media screen and (max-width: 768px) {
    body {
      background-color: #333;
    }
  
    .wrapper {
      /* Box-model */
      width: 100%;
      padding: 20px;
    }
  
    #main-content,
    #sidebar {
      width: 100%;
    }
  
    #sidebar {
      margin-top: 40px;
    }

    .img1{
        width: 6px;
        width: 50%;
        }

  }
  
  /* Width at 640px and below */
  @media screen and (max-width: 640px) {
    body {
      background-color: yellow;
    }
  
    .wrapper {
      /* Box-model */
      width: 100%;
      padding: 20px;
    }
  
    #main-content,
    #sidebar {
      width: 100%;
    }
  
    #sidebar {
      margin-top: 40px;
    }

    .img1{
        width: 100%;
    }
  }

  